.hold_close {
    background: #d1ccc0;
    width: 100%;
    height: 50px;
}

.write_title {
    color: #141414;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

#close {
    font-size: 30px;
    cursor: pointer;
    color: #141414;
    float: right;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    #close {
        font-size: 25px !important;
    }
}