#close {
    font-size: 30px;
    cursor: pointer;
    color: whitesmoke;
    float: right;
    margin-right: 30px;
}

@media only screen and (max-width: 600px) {
    #close {
        font-size: 25px !important;
    }
}