.dm_close {
    margin-top: -30px;
    margin-right: 10px;
    position: absolute;
    right: 0;
}
.dm > h4 {
    margin-top: 30px;
    margin-left: 20px;
}

.dir_msg_text {
    font-size: 19px;
    font-family: Oswald;
    color: #141414;
    text-align: left;
    margin-left: 20px;
}