.messages_wrapper {
    display: grid;
    grid-template-rows: 60px auto auto auto;
    grid-template-columns: auto;
    grid-gap: 4px;
    width: 95%;
    height: auto;
    padding: 10px;
}

.messages_item {
    background: #227093;
    width: 95%;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    color: whitesmoke;
    font-family: Oswald;
}

.message_image {
    width: 350px;
    height: 195px;
    border-radius: 4px;
}