.messages_wrapper {
    display: grid;
    grid-template-rows: 60px auto 200px 80px;
    grid-template-columns: auto;
    grid-gap: 4px;
    width: 95%;
    height: auto;
    padding: 10px;
}

.messages_item {
    background: #227093;
    width: 95%;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    color: whitesmoke;
    font-family: Oswald;
}

.messages_item:nth-child(4) {
    height: auto !important;
}