.repost_wrapper {
    height: 80vh;
    overflow-y: scroll !important;
}

.repost_clone > .messages_item {
    width: 92% !important;
    text-align: left;
}

.hold_textarea_repost {
    margin: 0 auto;
    width: 96.5%;
    margin-left: 4px;
}