#sidediv {
    width: 0px;
    height: 100vh;
    overflow-x: hidden;
    right: 0;
    margin-right: -30px;
    position: absolute;
    background: rgba(61, 61, 61, 1);
    box-shadow: 2px 2px 40px #141414;
    z-index: 999999;
    font-family: "Oswald";
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.sidediv_open {
    width: 380px !important;
    transition: 0.15s ease-in;
}

.sidediv_close {
    width: 0px !important;
    transition: 0.15s ease-in;
}

#write, #avatar, #direct_messages, #search, #sign_in, #sign_in, #repost, #comment, #poll_show, #img_and_video {
    display: none;
}