.write_icons_wrapper {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #F3B32B;
}

.write_icons_item {
    width: 100%;
    background: transparent;
}

.write_icons {
    font-size: 18px;
    cursor: pointer;
    color: #141414 !important;
    height: 60px;
}

.remove_clone {
    pointer-events: none;
    opacity: 0.5;
}

#camera_icon {
    pointer-events: none;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .write_icons_wrapper {
        width: 15% !important;
        height: 56%;
        background: rgba(0,0,0,0.7) !important;
        flex-direction: column !important;
        bottom: 0;
        right: 0;
        margin-top: 0%;
    }
    .write_icons {
        color: whitesmoke !important;
    }
    .write_icons_item:nth-child(5) > .write_icons {
        color: #F3B32B !important;
    }
}