.write_wrapper {
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-rows : auto 1fr 80px;
    grid-template-columns: 100%;
    grid-gap: 10px;
}

.write_item {
    background: pink;
}