.write_wrapper {
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-rows : auto auto 20%;
    grid-template-columns: 100%;
    grid-gap: 10px;
    overflow-y: scroll;
}

.write_item {
    background: transparent;
}

.write_item:nth-child(1) {
    position: fixed;
    width: 100%;
}

.write_item:nth-child(2) {
    padding: 10px;
}

.write_textarea {
    width: 94% !important;
    height: 150px;
    background: #665c5c;
    resize: none;
    padding: 10px;
    font-family: Oswald;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 6px;
    border: none;
    outline: 0;
}

::placeholder {
  color: gold;
  opacity: 1;
}

:-ms-input-placeholder {
  color: gold;
}

::-ms-input-placeholder {
  color: gold;
}

.outline_validate {
    border : 2px solid red !important;
}