@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
	overflow-x: hidden;
	font-family: "Roboto";
	overscroll-behavior-y: none;
	position: fixed;
    overflow: hidden;
    background: #3D3D3D;
}

html {
	overflow-x: none !important;
	height: 100%;
}

.body_wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 80px 1fr 80px;
    grid-auto-columns: 100%;
    grid-gap: 0px;
}

.body_wrapper_item {
    width: 100vw;
    border: 0px solid black;
}

.body_wrapper_item:nth-child(2) {
    background: #F3B32B;
}

.logo {
    width: 150px;
    margin: 10px;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.inside_wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
}

.inside_wrapper_item {
    background: #3d3d3d80;
}

.inside_wrapper_item:nth-child(1) {
    height: 100vh;
    overflow-y: scroll;
}

.click_to_write {
    float: right;
    margin: 20px;
    filter: drop-shadow(4px 4px 2px black);
    cursor: pointer;
}

.clone {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .inside_wrapper_item:nth-child(2), .inside_wrapper_item:nth-child(3) {
        display: none;
    }
    .inside_wrapper_item:nth-child(1) {
        width: 100vw;
    }
}