@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
	overflow-x: hidden;
	font-family: "Roboto";
	overscroll-behavior-y: none;
	position: fixed;
    overflow: hidden;
    background: #3D3D3D;
}

html {
	overflow-x: none !important;
	height: 100%;
}

.body_wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-auto-rows: 33% 33% 33%;
    grid-auto-columns: 33% 33% 33%;
    grid-gap: 10px;
}

.body_wrapper_item {
    background: pink;
}

